<!DOCTYPE html>
<html>
  <style>
body {
    background-color: lightblue;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
</style>
<body>

<h1>Thanks for checking in!</h1>

<a href="/entries">
  <button type="button" name="button">View Entries</button>
</a>

<a href="/">Return</a>

</body>
</html>
